<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safe Travel Path Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyles.css') }}" />
  </head>
  <body>
    <div class="hero">
      <div class="content">
        <h1 class="title">Safe Travel Path Recommendation</h1>
        <p class="subtitle">Plan your journey with confidence and safety in mind.</p>
        <div class="cta-buttons">
          <button class="btn" onclick="window.location.href='/maps'">
            Search Your Destination
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
