<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safe Route Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initMap"
      async
      defer
    ></script>
  </head>
  <body>
    <div class="container">
      <h1>Find the Safest Route</h1>
      <input
        id="start-input"
        type="text"
        placeholder="Enter starting location"
        autocomplete="off"
      />

      <!-- Destination Location Input -->
      <input
        id="destination-input"
        type="text"
        placeholder="Enter destination"
        autocomplete="off"
      />

      <!-- Go Button -->
      <button id="go-button">Get Directions</button>
      <div id="legend">
        <h3>Route Predictions</h3>
        <ul id="legend-list" style="list-style: none; padding: 0"></ul>
      </div>
      <div id="controls">
        <label for="travel-mode">Travel Mode: </label>
        <select id="travel-mode">
          <option value="DRIVING" selected>Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
        </select>
      </div>

      <div id="map" style="width: 100%; height: 600px"></div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
  </body>
</html>
